# APP
SERVER_PORT=8080
HOSTNAME=http://example.com
API_VERSION=1.0
SPRING_SERVLET_MULTIPART_LOCATION=/tmp/upload
# POSTGRES
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=myapp-db
POSTGRES_USER=my-user
POSTGRES_PASSWORD=my-password
# SSL
SSL_KEY_STORE=classpath:name-tls-keystore.p12
SSL_STORE_PASSWORD=password
SSL_KEY_ALIAS=tls-alias
# SPRING
SPRING_PROFILES_ACTIVE=local
SPRING_SQL_INIT_DATA_LOCATIONS=classpath:db/data/afterMigration.sql
SPRING_FLYWAY_LOCATIONS=classpath:db/migration
# LOGS
LOG_PATH=/logs
LOG_CONFIG_PATH=classpath:logback-spring.xml
# SECURITY
JWT_PUBLIC_KEY=classpath:jwt-public-key.jwk
JWT_PRIVATE_KEY=classpath:jwt-private-key.jwk
# USERS
USER_READ=user-read
USER_READ_PASSWORD=password
USER_WRITE=user-admin
USER_WRITE_PASSWORD=password
# MinIO
STORAGE_HOST=api.upfile.tgfcodes.com
STORAGE_PORT=9000
STORAGE_REGION_NAME=region-name
STORAGE_LINK_TTL_SECONDS=600
STORAGE_ADMIN_USER=admin-user
STORAGE_ADMIN_PASSWORD=password
STORAGE_CONSOLE_PORT=9001
STORAGE_CONSOLE_ENABLE=true
STORAGE_BUCKET_NAME=bucket-name
STORAGE_ACCESS_KEY=access-key
STORAGE_SECRET_KEY=secret-key
STORAGE_UPLOAD_USERNAME=upload-username
STORAGE_UPLOAD_PASSWORD=upload-password