HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

etc/certs/*
!etc/certs/
!etc/certs/generate-certificate.sh

src/main/resources/**.p12
src/main/resources/**.jwk
src/main/resources/**.pem
.env
.env.local

etc/cosign/*
!etc/cosign/
!etc/cosign/generate-signature-key.sh

etc/jwt/*
!etc/jwt/
!etc/jwt/generate-jwt-keys.sh

logs/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/